
/* Add product form*/

#confirm-image, #price-setting{
  display:none;
}

/* add product form */
/* errors messages  */
#titleError, #sizeError, #frameError, #authorError, #PriceError, #ShippingFeeError{
  display: none;
  color: red;
}

#add-image, #artwork, #setprice, #propandobjects, #bookandmagazine, #price-summary, #auto-mark-noshow{
  display: none;
}


/* merchant dashboard */

#userinfo-container, #productinfo-container, #order-detail{
  display: none;
}
