* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Oxygen', sans-serif;
  color: #323137;
}
body{
  min-height: calc(100vh);
  position: relative;
}

header{
   width: 100%;
   height: 4.5em;
   position: fixed;
   top: 0px;
   background-color: #e2e2e2;
   z-index: 1000;
 }

.logo_container{
  width: 100%;
  height: 75%;
}

 .logo_container img{
   display: inline-block;
   height: 75%;
   cursor: pointer;
   margin: 0.4em 1em;
 }
.float_right_cart{
  float: right;
  height: 100%;
}

.float_right_cart a{
  font-size: 0.5em;
}

/* nav bar on the header*/
nav{
  width: 100%;
  background-color: #c5c6c7;
  display: flex;
  white-space: nowrap;
}

nav ul{
  width: 100%;
}
nav ul li{
  display: inline-block;
  width: 25%;
  text-align: center;
  vertical-align: top;

}
nav ul li a{
  font-weight: bolder;
  height: 100%;
  font-size: 0.5em;
  text-transform: uppercase;
  text-decoration: none;
  color: #323137;
}

/* Silde in menu */
ul#sidemenu{
  width: 0px;
  height: calc(100vh);
  position: fixed;
  right: 0px;
  overflow: hidden;
  transition: width 200ms ease-in-out;
  background-color:#c5c6c7;
  opacity: 0.7;
  z-index: 1000;
  text-align: center;
}
ul#sidemenu li{
  height: 2.5em;
  border-bottom: 1px dashed white;
}
ul#sidemenu li img{
  height: 1.5em;
}

#sidemenu li a{
  text-decoration: none;
  height: 100%;
  font-size: 0.5em;
  font-weight: bold;
}

/* Main body */
section{
  width: 100%;
  min-height: calc(70vh);
  margin-top: 4.5em;
}
footer{
  width: 100%;
  bottom: 0px;
  background-color: #e2e2e2;
}
 footer li{
  margin-bottom: 0.5em;
}
footer ul li a{
  text-decoration: none;
  padding: 0em 1em;
}
footer small{
  display: block;
  font-size: 0.6em;
  text-align: center;
}
footer .social-media{
  padding: 1em 1em;
}

/* top of display*/
.break{
  width: 100%;
  height: 1em;
}
.header-title{
  font-size: 1em;
  margin-left: 1em;
  font-weight: bold;
}
.filter{
  line-height: .8em;
  margin-left: 1em;
}
.filter span, .filter a{
  font-size: 0.7em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}


/*swipe style*/
.swiper-container {
  width: 100%;
  height: calc(70vh);
  max-height: calc(120vw);
}

.swiper-slide {
  border-bottom: 1px solid #c5c6c7;
  text-align: center;

  /* Center slide text vertically */

  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.swiper-slide .box{
  width: 100%;

}
.swiper-slide .box img{
  width: 90%;
}

.swiper-slide .filter{
  width: 90%;
  margin: auto;
  text-align: right;
}


.swiper-slide h4{
  width: 50%;
  margin: auto;
  margin-top: 0.25em;
  line-height: 0.7em;
  padding: 0em 0.5em;
  font-weight: 400;
  text-align: center;
}
.swiper-slide h4 a{
  font-size: 0.6em;
  text-decoration: none;
  text-transform: uppercase;
}
.swiper-slide h4.price{
  margin-top: 0.8em;
  font-size: 0.8em;
  font-weight: 100;
  vertical-align: middle;
}
.highlight{
  color: #ce4a50;
}

h4.price span.discount{
  color: white;
  background-color: #ce4a50;
  font-size: .65em;
  padding: 0 0.2em;
  margin-right: 0.4em;
}
h4.price span.discount-from{
  color: #323137;
  font-size: 0.85em;
  text-decoration: line-through;
  font-style: italic;
}

.swiper-pagination{
  z-index: 1000;
}

/* mid banner */
.banner{
  width: 100%;
  margin: auto;
  margin-top: 0.2em;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #c5c6c7;
}
.banner img{
  width: 95%;
  margin: auto;
}

.small-banner{
  width: 100%;
  height: calc(10vh);
  margin: auto;
  margin-top: 0.2em;
  background-color: #c5c6c7;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #c5c6c7;
}

/*Text on top of image banner*/
.text-center{
  position: absolute;
  font-size: 0.6em;
  padding: .5em 1em;
  border: 1px solid #f1ece1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-center a{
  color: #f1ece1;
  text-decoration: none;
}
.info-page{
  width: 90%;
  margin: 1em 2em;
  white-space: nowrap;
}
.info-page a.btn-page{
  color: blue;
  text-decoration: none;
  margin-left: 0.5em;
  font-size: 0.8em;
}
.info-page a.current{
  color: black;
}
.info-page .button{
  padding: 0.2em 1em;
  background-color: black;
  color: white;
  float: right;
  font-size: 0.9em;
  margin-right: 1em;
}
.info-page a.button{
  text-decoration: none;
}

.btn-detail a{
  padding: 0.2em 1em;
  background-color: #323137;
  color: white;
}
.red{
  color: red;
  font-weight: bold;
}
.soldout{
  color: white;
  background-color: red;
  width: calc(30vw);
  text-align: center;
}

/*Product page*/
.view{
  width: 100vw;
  margin-bottom: 2em;
}
.view h4{
  margin-left: 1.5em;
  margin-bottom: 0.5em;
}
.view p{
  font-style: italic;
  background-color: #e2e2e2;
  width: calc(90vw);
  margin-left: calc(5vw);
  margin-bottom: 1em;
  padding: 1em 1em 1em 0em;
  line-height: 1.5em;
}
.small-description{
  font-style: italic;
  color: #274b58;
  font-size: 0.8em;
  text-align: right;
  margin-right: 2em;
}
.left-description{
  text-align: left;
  font-size: 0.8em;
}
.italic{
  font-style: italic;
  color: #274b58;
  font-size: 0.8em;
}


.title-center{
  width: calc(100vw);
  text-transform: capitalize;
  font-style: italic;
  color: #274b58;
}

.add-cart{
  width: calc(90vw);
  background-color: #ce4a50;
  color: #f1ece1;
  border: none;
  margin-left: calc(5vw);
  padding: 1.2em 3em;
  margin-bottom: 1em;
}
a.see-more{
  background-color: #274b58;
  color: #f1ece1;
  margin-left: calc(5vw);
  padding: 0.5em 2em;
}

/* artist view page */
.grid-container{
  display: grid;
  width: calc(100vw);
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
}
.double{
  border: 1px solid #f1ece1;
}
.double img{
  margin-bottom: 1em;

  border-bottom: 1px solid #f1ece1;
}

.view-item{
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 0.5em 1em;
  background-color: #c5c6c7;
}
.view img{
  width: 100%;
}
.view-item a{
  color: #323137;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8em;
}
