* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Oxygen', sans-serif;
  color: #323137;
}
body{
  min-height: calc(100vh);
  position: relative;
}

header{
   width: 100%;
   height: 4.5em;
   position: fixed;
   top: 0px;
   background-color: #e2e2e2;
   z-index: 1000;
 }

.logo_container{
  width: 100%;
  height: 75%;
}

 .logo_container img{
   display: inline-block;
   height: 75%;
   cursor: pointer;
   margin: 0.4em 1em;
 }
.float_right_cart{
  float: right;
  height: 100%;
}

.float_right_cart a{
  font-size: 0.5em;
}

/* nav bar on the header*/
nav{
  width: 100%;
  background-color: #c5c6c7;
  display: flex;
  white-space: nowrap;
}

nav ul{
  width: 100%;
}
nav ul li{
  display: inline-block;
  width: 25%;
  text-align: center;
  vertical-align: top;

}
nav ul li a{
  font-weight: bolder;
  height: 100%;
  font-size: 0.5em;
  text-transform: uppercase;
  text-decoration: none;
  color: #323137;
}

/* Silde in menu */
ul#sidemenu{
  width: 0px;
  height: calc(100vh);
  position: fixed;
  right: 0px;
  overflow: hidden;
  transition: width 200ms ease-in-out;
  background-color:#c5c6c7;
  opacity: 0.7;
  z-index: 1000;
  text-align: center;
}
ul#sidemenu li{
  height: 2.5em;
  border-bottom: 1px dashed white;
}
ul#sidemenu li img{
  height: 1.5em;
}

#sidemenu li a{
  text-decoration: none;
  height: 100%;
  font-size: 0.5em;
  font-weight: bold;
}

/* Main body */
section{
  width: 100%;
  min-height: calc(70vh);
  margin-top: 4.5em;
}
footer{
  width: 100%;
  bottom: 0px;
  background-color: #e2e2e2;
}
 footer li{
  margin-bottom: 0.5em;
}
footer ul li a{
  text-decoration: none;
  padding: 0em 1em;
}
footer small{
  display: block;
  font-size: 0.6em;
  text-align: center;
}
footer .social-media{
  padding: 1em 1em;
}

/* button style */
input[type="submit" i]{
  border-style: none;
}
/* general font style */
h3, h4{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
label{
  margin-bottom: 0.5em;
}

a{
  text-decoration: none;
}
.highlight{
  color: #e71212;
}
.tag{
  font-size: 0.8em;
}
.discount{
  color: white;
  background-color: ##e71212;
  font-size: .65em;
  padding: 0 0.2em;
  margin-right: 0.4em;
}
.linethrough{
  text-decoration: line-through;
  font-style: italic;
}
.red{
  background-color: #e71212;
  color: white;
}
.italic{
  font-style: italic;
}
.upper{
  text-transform: uppercase;
}
.bold{
  font-weight: bold;
}
/* div class */
.break{
  width: 100%;
  height: 1em;
}
.norm{
  width: calc(90vw);
  margin: auto;
}
.filter{
  margin-left: calc(5vw);
}
.border{
  border: 1px solid black;
  box-shadow: 4px 6px #c5c6c7;
}
.hide{
  display: none;
}
.halfw{
  width: calc(40vw);
}
.quaterw{
  width: calc(20vw);
}
/*swipe style*/

.swiper-slide {
  border-bottom: 1px solid #c5c6c7;
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.swiper-pagination{
  z-index: 1000;
}

/* banner */
.banner{
  width: 100%;
  margin: auto;
  margin-top: 0.2em;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #c5c6c7;
}
.banner img{
  width: 100%;
}

.small-banner{
  width: 100%;
  height: calc(10vh);
  margin: auto;
  margin-top: 0.2em;
  background-color: #c5c6c7;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #c5c6c7;
}

.text-center{
  position: absolute;
  font-size: 0.6em;
  padding: .5em 1em;
  border: 1px solid #f1ece1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-center a{
  color: #f1ece1;
  text-decoration: none;
}


/* pagination bullet */
.info-page{
  width: 90%;
  margin: 1em 2em;
  white-space: nowrap;
}
.info-page a.btn-page{
  color: blue;
  text-decoration: none;
  margin-left: 0.5em;
  font-size: 0.8em;
}
.info-page a.current{
  color: black;
}


.button{
  padding: 0.6em 1.2em;
  background-color: #323137;
  color: white;
  font-size: 1em;
}

.btn-detail a{
  padding: 0.2em 1em;
  background-color: #323137;
  color: white;
}
.bck{
  display: block;
}


/*Product page*/
.view{
  width: 100vw;
  margin-bottom: 2em;
}
.add-cart{
  width: calc(90vw);
  background-color: #e71212;
  color: #f1ece1;
  border: none;
  padding: 1.2em 3em;
}

/* artist view page */
.grid-container{
  display: grid;
  width: calc(100vw);
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
}
.double{
  border: 1px solid #f1ece1;
}
.double img{
  margin-bottom: 1em;
  border-bottom: 1px solid #f1ece1;
}

.view-item{
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 0.5em 1em;
  background-color: #c5c6c7;
}
.view img{
  width: 100%;
}
.view-item a{
  color: #323137;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8em;
}

/* size */
.w40{
  width: calc(40vw);
}

/* position */
.right{
  text-align: right;
}
.fl-right{
  float: right;
  margin-right: 1em;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.divright{
  text-align: right;
  margin-right: 1em;
}
.divspan{
  display: inline-block;
}
.wrapper{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* list style */

ul.norm li{
  list-style-type: none;
}

/* table style */

.w-full > thead > tr > th {
  background: #efefef;
  border: none;
  vertical-align: middle;
  font-size: 1em;
  color: #737373;
  padding: 10px 0px;
  }

table {
  width: calc(100vw);
  border-collapse: collapse;
  border-spacing: 0;
}
th.cart_product{
  width: 20%;
}
.thumbnail{
  width: 120px;
  height: 120px;
}

tfoot{
  background: #efefef;
  border: none;
  vertical-align: middle;
  font-size: 1em;
  color: #737373;
  padding: 10px 0px;
}
td{
  text-align: center;
}
/* form style */
.large_field{
  width: calc(80vw);
}
.med_field{
  width: calc(40vw);
}
.small_field{
  width: calc(35vw);
}
.v_small_field{
  width: calc(20vw);
}
/* screen size */
.lscreen{
  display: none;
}

/* media screen */
@media only screen and (min-width: 600px){
  .lscreen{
    display: table-cell;
    vertical-align: inherit;
    text-align: center;
  }
}
