#titleError, #sizeError, #frameError, #authorError, #PriceError, #ShippingFeeError{
  display: none;
  color: red;
}

#add-image, #artwork, #setprice, #propandobjects, #bookandmagazine, #price-summary, #auto-mark-noshow{
  display: none;
}
