{% extends"layout.html" %}
{% block content %}

<div class="table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="details_area mt-5 clearfix">
                    <div class="title">
                        <h5 class="text-secondary">ที่อยู่จัดส่ง</h5>
                    </div>
                    {% if message %}
                    <div>
                        <p class="text-danger">{{message}}</p>
                    </div>
                    {% else %}
                    <form method="POST">
                    {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col-12 mb-3">
                                <h6>{{form.firstname.label(class_="text-muted")}}</h6>
                                {{form.firstname(class_="form-control") }}
                                <p class="text-danger">{% for error in form.firstname.errors %}{{ error }}{% endfor %}</p>
                            </div>
                            <div class="col-12 mb-3">
                                <h6>{{form.lastname.label (class_="text-muted")}}</h6>
                                {{form.lastname(class_="form-control") }}
                                <p class="text-danger">{% for error in form.lastname.errors %}{{ error }}{% endfor %}</p>
                            </div>
                            <div class="col-12 mb-3">
                                <h6>{{ form.contact.label(class_="text-muted") }}</h6>
                                {{form.contact(class_="form-control") }}
                                <p class="text-danger">{% for error in form.contact.errors %}{{ error }}{% endfor %}</p>
                            </div>
                            <div class="col-12 mb-3">
                                <h6>{{ form.homeaddress.label(class_="text-muted") }}</h6>
                                {{ form.homeaddress(class_="form-control") }}
                                <p class="text-danger">{% for error in form.homeaddress.errors %}{{ error }}{% endfor %}</p>
                            </div>
                            <div class="col-12 mb-3">
                                <h6>{{ form.housename.label(class_="text-muted") }}</h6>
                                {{ form.housename(class_="form-control") }}
                                <p class="text-danger">{% for error in form.homeaddress.errors %}{{ error }}{% endfor %}</p>
                            </div>
                            <div class="col-12 mb-3">
                                <h6>{{ form.substreet.label(class_="text-muted") }}</h6>
                                {{ form.substreet(class_="form-control") }}
                                <p class="text-danger">{% for error in form.substreet.errors %}{{ error }}{% endfor %}</p>
                            </div>
                            <div class="col-12 mb-3">
                                <h6>{{ form.street.label(class_="text-muted") }}</h6>
                                {{ form.street(class_="form-control") }}
                                <p class="text-danger">{% for error in form.street.errors %}{{ error }}{% endfor %}</p>
                            </div>
                            <div class="col-12 mb-3">
                                <h6>{{ form.subdistrict.label(class_="text-muted") }}</h6>
                                {{ form.subdistrict(class_="form-control") }}
                                <p class="text-danger">{% for error in form.subdistrict.errors %}{{ error }}{% endfor %}</p>
                            </div>
                            <div class="col-12 mb-3">
                                <h6>{{ form.district.label(class_="text-muted") }}</h6>
                                {{ form.district(class_="form-control") }}
                                <p class="text-danger">{% for error in form.district.errors %}{{ error }}{% endfor %}</p>
                            </div>
                            <div class="col-12 mb-3">
                                <h6>{{ form.province.label(class_="text-muted") }}</h6>
                                {{ form.province(class_="form-control") }}
                                <p class="text-danger">{% for error in form.province.errors %}{{ error }}{% endfor %}</p>
                            </div>
                            <div class="col-12 mb-3">
                                <h6>{{ form.postcode.label(class_="text-muted") }}</h6>
                                {{ form.postcode(class_="form-control") }}
                                <p class="text-danger">{% for error in form.postcode.errors %}{{ error }}{% endfor %}</p>
                            </div>
                            <div class="col-12 mb-3">
                                {{ form.submit(class_="btn amado-btn") }}
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="clo-12 col-lg-4">
                <div class="cart-summary">
                    <h5>Cart Total</h5>
                    <div class ="summary-table text-right">
                      <span>Total: ฿ {{ "{:,.2f}".format(cart_total|round)}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
