<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/admin.css') }}">
	<title></title>

</head>
  <body>
      <nav>
				<ul>
					<li><a href="{{ url_for('home') }}">HOME</a></li>
					<li><span>ADMIN</span>
						<ul>
							<li><a href="{{ url_for('user_verify') }}">VERIFY USER</a></li>
							<li><a href="{{ url_for('payment_verify') }}">PAYMENT</a></li>
						</ul>
					</li>
					<li><span>ARTICLES</span>
						<ul>
							<li><a href="{{ url_for('articles') }}">Articles</a></li>
							<li><a href="{{ url_for('addarticles') }}">Update Articles</a></li>
						</ul>
					</li>
					<li>Contact</li>
				</ul>
			</nav>
    <section>

			{% block content%}{% endblock %}


    </section>
  </body>
</html>
