{% extends"layout.html" %}
{% block content %}
{% if message %}

<div class="break"></div>
<div class= "norm">
  <div>
    <h4>ตะกร้าสินค้า</h4>
  </div>
  <ul class="norm">
    <li class="bold">สรุปตะกร้า</li>
    <li>ที่อยู่จัดส่ง</li>
    <li>ชำระเงิน</li>
  </ul>
</div>
<div class="break"></div>
<table class="w-full">
  <thead>
    <tr class="head">
      <th class="cart_product">สินค้า</th>
      <th>จำนวน</th>
      <th class="lscreen">ราคาต่อหน่วย</th>
      <th>ราคารวม</th>
      <th>ลบ</th>
    </tr>
  </thead>
</table>
<div class="break"></div>
<div class="norm">
  <h3 class="right">ไม่มีสินค้าอยู่ในตะกร้า</h3>
</div>
<div class="break"></div>
<div class="norm right">
  <a class="button w40" href="{{request.referrer}}">BACK</a>
</div>
<div class="break"></div>

{% else %}

<div class="break"></div>
<div class= "norm">
  <div>
    <h4>ตะกร้าสินค้า</h4>
  </div>
  <ul class="norm">
    <li class="bold">สรุปตะกร้า</li>
    <li>ที่อยู่จัดส่ง</li>
    <li>ชำระเงิน</li>
  </ul>
</div>
<div class="break"></div>
<table class="w-full">
  <thead>
    <tr class="head">
      <th class="cart_product">สินค้า</th>
      <th>จำนวน</th>
      <th class="lscreen">ราคาต่อหน่วย</th>
      <th>ราคารวม</th>
      <th>ลบ</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart.items %}
    {% set image = "https://storage.googleapis.com/"+ bucket +"/"+item.img %}
    <tr>
      <td>
        <img class="thumbnail" src="{{image}}">
        <h5 class="productname">{{ item.product }}</h5>
      </td>
      <td>
        <h3 class="hide" id="no{{ item.product }}">{{ item.quantity }}</h3>
        {% if product_inventory[item.product]==0 %}
        <h3>This product is no longer available.</h3>
        {% else %}
        <form method="POST">
          <select name="{{ item.product }}" id="{{ item.product }}" onchange="getVal()">
        {% for i in range(product_inventory[item.product]) %}
            <option value="{{i+1}}">{{ i+1 }}</option>
        {% endfor %}
          </select>
        </form>
        {% endif %}
      </td>
      <td class="lscreen">
        <span>{{ "฿ {:,.2f}".format(price[item.product]) }} </span>
        <span class = "hide" id="price{{ item.product }}">{{ price[item.product] }}</span>
      </td>
      <td>
        <span>฿</span><span id="totalPrice{{ item.product }}">{{ price[item.product]*item.quantity }} </span><span>.00</span>
      </td>
      <td>
        <form method="POST">
          <input type="hidden" name="todelete" value="{{ item.id }}">
          <input class ="button" type="submit" value="ลบ">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
        <h5>TOTAL PRICE</h5>
      </td>
      <td>
        <span>฿ </span><span id="t_amount"></span><span>.00</span>
      </td>
    </tr>
  </tfoot>
</table>
<div class="break"></div>
<div class="divright">
  <form method="POST">
    <input class="button w40" type="submit" name="checkout" value="CHECKOUT">
  </form>
</div>
<div class="break"></div>

<script type="text/javascript" src="{{ url_for('static',filename='js/cart.js') }}"></script>
{% endif %}
{% endblock %}
