{% extends"layout.html" %}
{% block content %}
{% if message %}
<div class="table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="title mt-50">
                    <h2>Shopping Cart</h2>
                </div>

                <div class="clearfix">
                    <table class="table table-responsive">
                      <thead>
                          <tr>
                              <th></th>
                              <th>Name</th>
                              <th>Price</th>
                              <th>Quantity</th>
                              <th>Remove</th>
                          </tr>
                      </thead>
                    </table>
                    <h5 class ="text-right">ไม่มีสินค้าอยู่ในตะกร้า</h5>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-summary">
                    <h5>Cart Total</h5>
                    <ul class ="summary-table">
                      <li><span>Total:</span><span>฿ 0.00</span></li>
                    </ul>
                    <div class="cart-btn mt-100">
                        <a class="btn amado-btn w-100" href="{{request.referrer}}">BACK</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% else %}
<div class="table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="title mt-50">
                    <h2>Shopping Cart</h2>
                </div>

                <div class="clearfix">
                    <table class="table table-responsive">
                      <thead>
                          <tr>
                              <th></th>
                              <th>Name</th>
                              <th>Price</th>
                              <th>Quantity</th>
                              <th>Remove</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for item in cart.items %}
                          {% set image = "https://storage.googleapis.com/"+ bucket +"/"+item.img %}
                          <tr>
                              <td class="cart_product_img">
                                  <img src="{{ image }}">
                              <td class="cart_product_desc">
                                  <h5 class="productname">{{item.product}}</h5>
                              </td>
                              <td class="price">
                                  <span class="d-none">{{ "฿ {:,.2f}".format(price[item.product]) }}</span>
                                  <span>฿ </span><span id="totalPrice{{item.product}}">{{price[item.product]*item.quantity}}</span><span>.00</span>
                                  <span class = "d-none" id="price{{ item.product }}">{{ price[item.product] }}</span>
                              </td>
                              <td class="qty">
                                  <div class="qty-btn d-flex">
                                      <div class="quantity">
                                          <h4 class = "d-none" id="no{{item.product}}">{{item.quantity}}</h4>
                                          {% if product_inventory[item.product]==0 %}
                                          <h4>Not Available</h4>
                                          {% else %}
                                          <form method="post">
                                              <select name="{{item.product}}" id="{{item.product}}" onchange="getVal()">
                                              {% for i in range(product_inventory[item.product]) %}
                                                  <option value="{{ i+1 }}">{{i+1}}</option>
                                              {% endfor %}
                                              </select>
                                          </form>
                                          {% endif %}
                                      </div>
                                  </div>
                              </td >
                              <td class="remove">
                                  <form method="post">
                                      <input type="hidden" name="todelete" value="{{item.id}}">
                                      <input type="submit" class="btn btn-sm" value="ลบ">
                                  </form>
                              </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-summary">
                    <h5>Cart Total</h5>
                    <ul class ="summary-table">
                      <li><span>Total: </span> <span id="t_amount"></span><span>.00</span></li>
                    </ul>
                    <div class="cart-btn mt-100">
                        <form method="post">
                            <input class="btn amado-btn w-100" type="sumbit" name="checkout" value="Checkout">
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript" src="{{ url_for('static',filename='js/cart.js') }}"></script>
{% endif %}
{% endblock %}
