{% extends"merchantlayout.html" %}
{% block content %}

<div class="table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-10">
                {% if message %}
                <div class="details_area mt-50 clearfix">
                    <div class="title">
                        <h5 class="mb-4">{{product.title}}</h5>
                        <p>{{message}}</p>
                    </div>
                    <div class="col-12 mb-3">
                        {% set image = "https://storage.googleapis.com/"+ bucket +"/"+ product.imgfile1 %}
                        <img class="mb-3" src="{{ image }}">
                        <p>กลุ่มสินค้า: {{product.category}}</p>
                        {% if product.category == 'illustration' or product.category == 'painting' or product.category=='photograph' %}
                        <p>กรอบรูป: {{product.frame}}</p>
                        <p>ขนาด: {{product.size}} นิ้ว</p>
                        {% elif product.category == 'book' %}
                        <p>ผู้แต่ง: {{product.authors}}</p>
                        <p>รูปแบบ: {{product.book_condition}}</p>
                        {% else %}
                        <p>สภาพ: {{product.condition}}</p>
                        {% endif %}
                    </div>
                    <div class="col-12 mb-3">
                        <p>ราคาสินค้า: {{"฿ {:,.2f}".format(product.price|int)}}</p>
                        <p>ค่าส่งสินค้า: {{"฿ {:,.2f}".format(product.shipping_fee|int)}}</p>
                        {% if product.promotion|int > 0 and time<product.promotion_expire %}
                        <p>{{product.promotion}}% <span class="text-alert">OFF</span> <span>(ถึงวันที่ {{ product.promotion_expire.strftime("%Y/%m/%d") }})</span></p>
                        <p>ราคาแสดงบนเวปไซท์:{{"฿ {:,.2f}".format((((product.price|int*(1-(product.promotion|int/100)))*margin)+product.shipping_fee|int)|round)}}</p>
                        {% else %}
                        <p>โปรโมชัน: ไม่มีโปรโมชัน</p>
                        <p>ราคาแสดงบนเวปไซท์: {{"฿ {:,.2f}".format(((product.price|int*margin)+product.shipping_fee|int)|round)}}</p>
                        {% endif %}
                        <p>จำนวนเงินที่คุณได้รับ: {{"฿ {:,.2f}".format((((product.price|int*(1-(product.promotion|int/100))))+product.shipping_fee|int)|round)}}</p>

                        <h6>เหลือจำนวน: {{product.quantity}} </h6>
                    </div>
                    <div class="col-12 mb-3">
                        {% if product.description %}
                        <p>{{product.description}}</p>
                        {% else %}
                        <p>ไม่มีคำอธิบายสินค้า</p>
                        {% endif %}
                    </div>
                    <div class="col-12 mb-3">
                        <a class="amado-btn" href="{{request.referrer}}">BACK</a>
                    </div>
                </div>
                {% else %}
                <div class="details_area mt-50 clearfix">
                    <div class="title">
                        <h5 class="mb-4">{{product.title}}</h5>
                    </div>
                    <div class="col-12 mb-3">
                        {% set image = "https://storage.googleapis.com/"+ bucket +"/"+ product.imgfile1 %}
                        <img src="{{ image }}">
                        <a class = "amado-btn" href="{{url_for('update_image', name=product.productcode)}}">เปลี่ยนรูปภาพ</a>
                    </div>
                    <div class="col-12 mb-3">
                        <p>กลุ่มสินค้า: {{product.category}}</p>
                        {% if product.category == 'illustration' or product.category == 'painting' or product.category=='photograph' %}
                        <p>กรอบรูป: {{product.frame}}</p>
                        <p>ขนาด: {{product.size}} นิ้ว</p>
                        {% elif product.category == 'book' %}
                        <p>ผู้แต่ง: {{product.authors}}</p>
                        <p>รูปแบบ: {{product.book_condition}}</p>
                        {% else %}
                        <p>สภาพ: {{product.condition}}</p>
                        {% endif %}
                    </div>
                    <div class="col-12 mb-3">
                        {% if product.description %}
                        <p>{{product.description}}</p>
                        {% else %}
                        <p class="mb-3">ไม่มีคำอธิบายสินค้า</p>
                        {% endif %}
                        <a class = "amado-btn" href="{{url_for('update_detail', name=product.productcode)}}">เปลี่ยนแปลงข้อมูล</a>
                    </div>
                    <div class="col-12 mb-3">
                        <p>ราคาสินค้า: {{"฿ {:,.2f}".format(product.price|int)}}</p>
                        <p>ค่าส่งสินค้า: {{"฿ {:,.2f}".format(product.shipping_fee|int)}}</p>
                        {% if product.promotion|int > 0 and time<product.promotion_expire %}
                        <p>{{product.promotion}}% <span class="text-alert">OFF</span> <span>(ถึงวันที่ {{ product.promotion_expire.strftime("%Y/%m/%d") }})</span></p>
                        <p>ราคาแสดงบนเวปไซท์:{{"฿ {:,.2f}".format((((product.price|int*(1-(product.promotion|int/100)))*margin)+product.shipping_fee|int)|round)}}</p>
                        {% else %}
                        <p>โปรโมชัน: ไม่มีโปรโมชัน</p>
                        <p>ราคาแสดงบนเวปไซท์: {{"฿ {:,.2f}".format(((product.price|int*margin)+product.shipping_fee|int)|round)}}</p>
                        {% endif %}
                        <p class="mb-3">จำนวนเงินที่คุณได้รับ: {{"฿ {:,.2f}".format((((product.price|int*(1-(product.promotion|int/100))))+product.shipping_fee|int)|round)}}</p>

                        <a class = "amado-btn" href="{{url_for('update_price', name=product.productcode)}}">เปลี่ยนแปลงราคาและโปรโมชัน</a>
                    </div>
                    <div class="col-12 mb-3">
                      <h6>จำนวนสินค้าที่มีอยู่: {{product.quantity}} </h6>
                      <a class = "amado-btn" href="{{url_for('update_stock', name=product.productcode)}}">แก้ไขจำนวนสต็อก</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a class = "amado-btn bg-dark" href="{{url_for('edit_delete_product', name=product.productcode)}}">ลบสินค้าชิ้นนี้</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a class="btn bg-dark text-white float-right text-center" href="{{request.referrer}}">BACK</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
