{% extends"layout.html" %}
{% block content %}

<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">

    <div class="container-fluid">
        <div class="row">
            {% for item in latest %}
            <div class = "col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                <div class = "single-product-wrapper">
                    <div class="product-img">
                        {% set image = "https://storage.googleapis.com/"+ bucket +"/"+item.imgfile1 %}
                        <a href="{{url_for('product', product=item.productcode)}}">
                            <img src="{{image}}" alt="">
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="product-description d-flex align-text-top justify-content-between">
                        <div class="product-meta-data">
                            {% if item.promotion|int > 0 and time < item.promotion_expire %}
                            <p class = "product-price">฿ {{ "{:,.2f}".format((((item.price|int*(1-(item.promotion|int/100)))*margin)+item.shipping_fee|int)|round)}}</p>
                            <del class ="text-muted">฿ {{"{:,.2f}".format((item.price|int*margin)+item.shipping_fee|int|round)}}</del>
                            <p class="bg-primary text-white text-center">{{ item.promotion }}% OFF</p>
                            {% else %}
                            <p class="product-price">{{"฿ {:,.2f}".format(((item.price|int*margin)+item.shipping_fee|int)|round)}}</p>
                            {% endif %}
                            <a href="{{url_for('product', product=item.productcode)}}">
                                <h5 class = "text-muted">{{item.title}}</h5>
                            </a>
                        </div>
                        <div class="ratings-cart float-right">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="cart text-right">
                                <a href="{{url_for('product', product=item.productcode)}}"><img src="{{ url_for('static', filename='image/core-img/cart.png') }}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
