{% extends "layout.html" %}
{% block content %}
    <h3>Already have an account?</h3>
    <h3>LOGIN</h3>
    <form class ="center" method="POST">

        {{ form.hidden_tag() }}
            <div class="wrapper">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <span class='errors'>{{ message }}</span>
            {% endfor %}
            {% endif %}
            {% endwith %}
            </div>
            <div class="wrapper">
                {{ form.email.label }}
                {{ form.email(class="large") }}
            <span class="errors">{% for error in form.email.errors %}{{ error }}{% endfor %}</span>
            </div>
                <div class="wrapper">
                {{ form.password.label }}
                {{ form.password(class="large") }}
            </div>

            <h5><a href={{ url_for('password_email_reset') }}>Forgot your password?</a></h5>
            <div class="button">
                {{ form.submit }}
            </div>
    </form>
    <div class="center">
        <h4>Do not have an account? <a href={{ url_for('register') }}>REGISTER</a></h4>
    </div>
{% endblock %}
