{% extends "layout.html" %}
{% block content %}
    <div class="break"></div>
    <div class="norm">
      <h4>Do not have an account? <a class="u_line" href={{ url_for('register') }}>REGISTER</a></h4>
      <h3>LOGIN</h3>
    </div>
    <div class="norm">
      <form method="POST">
      {{ form.hidden_tag() }}
        <div class="wrapper">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
          <span class='highlight'>{{ message }}</span>
        {% endfor %}
        {% endif %}
        {% endwith %}
        </div>
        <div class="wrapper">
          {{ form.email.label(class_="bold bck") }}
          {{ form.email(class_="med_field right") }}
          <h5 class="highlight">{% for error in form.email.errors %}{{ error }}{% endfor %}</h5>

        <div class="wrapper">
          {{ form.password.label(class_="bold bck") }}
          {{ form.password(class_="med_field right") }}
        </div>

        <h5><a class="u_line" href={{ url_for('password_email_reset') }}>Forgot your password?</a></h5>
        <div class="break"></div>
        <div class="norm">
          {{ form.submit(class_="button w40") }}
        </div>
      </form>
    </div>

{% endblock %}
