{% extends"merchantlayout.html" %}
{% block content %}

  <div class="break"></div>
  <div class="view">
    <div class="sub-title-head">
      <h4 class="title-center">ข้อมูลส่วนตัว</h4>
      <img src="{{ url_for('static', filename='image/dropdown.png') }}" onclick="showuserinfo()">
    </div>
    <div id="userinfo-container">
      <h4> {{ current_user.username }} </h4>
      <h4> Email: <span class="italic">{{ current_user.email }}</span></h4>
      <h4> เบอร์ติดต่อ: <span class="italic">{{ current_user.contact }}</span></h4>
      <h4> สถานะผู้ขาย:
        {% if current_user.verified== "no" %}
          <span class="italic">รอดำเนินการยืนยันตัวตน</span>
        {% elif current_user.verified== "yes" %}
          <span class="italic">ผ่านการยืนยันตัวตนแล้ว</span>
        {% endif %}
      </h4>

      {% if current_user.desciption %}
        <p>{{current_user.description}}</p>
      {% else %}
        <p>ยังไม่มีข้อมูลส่วนตัว</p>
      {% endif %}

      <div class="btn-user">
        <a href="{{ url_for('user_edit', name=current_user.username) }}">แก้ไขข้อมูล</a>
      </div>
    </div>

    <div class="break"></div>

    <div class="sub-title-head">
      <h4 class="title-center">สินค้าของคุณ</h4>
      <img src="{{ url_for('static', filename='image/dropdown.png') }}" onclick="showproductinfo()">
    </div>

    <div class="break"></div>

    <div id ="productinfo-container">
      <div class="grid-container">

        {% for item in current_user.product %}

          <div class="double">
            {% set image = "https://storage.googleapis.com/"+ bucket +"/"+item.imgfile1 %}
            <img src="{{ image }}">

            <div class="view-item"><a href="{{url_for('edit_product', name=item.productcode)}}">EDIT ITEM</a></div>

          </div>
          <div class="double item-info">
            <h4>Title: {{item.title}}</h4>
            <h4>Category: {{item.category}}</h4>
            <h4>Hashtag:<span class="italic">{{item.style}}</span></h4>
            {% if item.quantity == 0 %}
              <h4 class = "alert">สินค้าหมด</h4>
            {% else %}
              <h4>เหลือ: {{item.quantity}}</h4>
            {% endif %}
            <h4>ราคา: {{item.price}}</h4>
            {% if item.promotion|int > 0 and item.promotion_expire > time %}
            <h4>โปรโมชัน: {{item.promotion}} % ถึง: {{item.promotion_expire.strftime("%d-%m-%Y")}}</h4>
            {% else %}
            <h4>โปรโมชัน: ไม่มีโปรโมชัน</h4>
            {% endif %}



            <h4>คำอธิบาย: </h4>
            <div class="item-description">
            {% if item.description %}
              <p>{{item.description}}</p>
            {% else %}
              <p class="no-description">ไม่มีรายละเอียดสินค้า</p>
            {% endif %}
            </div>
          </div>

        {% endfor %}
      </div>
    </div>
    <div class="break"></div>

    <div class="sub-title-head">
      <h4 class="title-center">คำสั่งซื้อสินค้า</h4>
      <img src="{{ url_for('static', filename='image/dropdown.png') }}" onclick="showorder()">
    </div>
    <div id="order-detail">
      <table class="order-summary">
        <thead>
          <tr>
            <th>ชื่อสินค้า</th>
            <th>Reference</th>
            <th>จำนวน</th>
            <th>ราคารวม</th>
            <th>สถานะ</th>
          </tr>
        </thead>
        <tbody>
          {% for item in order %}
          <tr>
            <td>{{item.product}}</td>
            <td><a href="{{url_for('order', c_id = item.cart.reference_id, p_id = item.id)}}">{{item.cart.reference_id}}</a></td>
            <td>{{item.quantity}}</td>
            <td>{{item.price|int * item.quantity}}</td>
            {% if item.cart.payment == 'C' %}
            <td>รอการจัดส่ง</td>
            {% else %}
            <td>รอการชำระเงิน</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="break"></div>

    <div class="sub-title-head">
      <h4 class="title-center">สรุปยอดขายที่ผ่านมา</h4>
      <img src="{{ url_for('static', filename='image/dropdown.png') }}" onclick="showsale()">
    </div>
    <div id = "sale-summary">

    </div>



  </div>

  <script type="text/javascript" src="{{ url_for('static',filename='js/merchant.js') }}"></script>



{% endblock %}
