{% extends"merchantlayout.html" %}
{% block content %}
<!-- เปลี่ยนรูปสินค้า -->

  <div class = "break"></div>
  <div class = "view">
    <h4 class="title-center">{{product.title}}</h4>
    {% set image = "https://storage.googleapis.com/"+ bucket +"/"+ product.imgfile1 %}
    <img src="{{ image }}">
    <h4>เปลี่ยนรูปภาพสินค้า</h4>
    <p>เลือกไฟล์รูปภาพสำหรับสินค้านี้</p>
    <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}


        <div class="wrapper">
          {{ form.image }}
          {% if form.image.errors %}
          {% for error in form.image.errors %}<span>{{ error }}</span>{% endfor %}
          {% endif %}
        </div>
        <div class="wrapper">
          {{ form.submit }}
        </div>


    </form>

    <div class="button b-right"><a href="{{request.referrer}}">BACK</a></div>
  </div>


{% endblock %}
